.panel-more-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.panel-more-info p {
  margin : 0px 10px;
}

.event-card {
  border : 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  padding : 15px;
  margin : 10px 0px;
}

.event-card h4 {
  margin-bottom: 30px;
}